<%- layout('layouts/main.ejs') %>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card mt-5 text-center">
                <div class="card-body">
                        <a href="https://autenticaciondigital.and.gov.co/Login" class="btn btn-primary mx-auto d-block">Login</a>
                </div>
            </div>
        </div>
    </div>
